/* header section */

.header-container{
  width: 100%;
  height: 80px;
  background: rgb(54, 53, 53);
}

.header-inner{
  width: 1170px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.header-navbar ul{
  width: 350px;
  display: flex;
  justify-content: space-around;
}

.header-navbar ul li{
  list-style-type: none;
  text-transform: capitalize;
  cursor: pointer;
}

.header-search-user form input{
  background: transparent;
  outline: none;
  border:  #FFF .5px solid;
  color: #fff;
}



/* home screen  */
.container{
  width: 1170px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto ;
  justify-content: space-between;
  gap: 20px;
}

/* product component */

.card-img{
  width: 250px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: CENTER;
  margin-top: 20px;
}
 
.card-img img{
  width: 150px;
  max-height: 200px;
}

.card{
  width: 250px;
  height: 380px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 10px;
  border: 1px black solid;
}

.card-body{
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


/* product screen component  */

.product-screen-container{
  width: 1150px;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  /* justify-content: space-around; */
  align-items: center;
}

.product-screen-image{
  width: 400px;
  height: 450px;

}

.product-screen-image img{
  width: 300px;
}
